
		<section id="hello" class="hello bg-blue">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<p class="front-text"> Bienvenido a <span> Kayi Labs</span></p>
						<h1 class="front-title">Investigación y desarrollo de 
						nuevas tecnologías<span class="square-dot blackdeep-color">.</span></h1>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<img class="img-responsive front-image" src="<%= asset_path 'Porta.png' %>" alt="imac">
					</div>
					<div class="go-button">
						<a href="#about">Inicia<br/><span><i class="fa fa-play"></i></span></a>
					</div>
				</div>
			</div>
		</section>
	
		<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<p class="about-title"><span class="blue-color">Kayi Labs</span> es una empresa creativa con experiencia en 
						desarrollo de software para startups y empresas. 
						Además contamos con un área dedicada a la invetigación y desarrollo de nuevas tecnologías. 
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 about-box">
						<ul>

						<li>
								<div class="about-content">
									<img class="img-responsive" src="<%= asset_path 'inv.png' %>" alt="Image">
									<h4>Investigación tecnológica</h4>
									<p> Creación y desarrollo</p>
								</div>
							</li>
							<li>
								<div class="about-content">
									<img class="img-responsive" src="<%= asset_path 'mob.png' %>" alt="Image">
									<h4>Aplicaciones móviles</h4>
									<p> ios/Android</p>
								</div>
							</li>
							<li>
								<div class="about-content">
									<img class="img-responsive" src="<%= asset_path 'desk.png' %>" alt="Image">
									<h4>Software empresarial</h4>
									<p>  Web/Desktop	</p>
								</div>
							</li>
							
													
							<li>
								<div class="about-content">
									<img class="img-responsive" src="<%= asset_path 'soporte.png' %>" alt="Image">
									<h4>Soporte</h4>
									<p> 24/7  </p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		
		<section id="services" class="services">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="section-title"><span class="color-white">PROCESO DE TRABAJO </span></h1>
						<p class="section-text">Trabajamos con metodologías agiles para crear productos de alta calidad a tiempo.</p>
					</div>
				</div>
				<div class="services-content-bg">
					<div class="row top-services-space">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-inner">
								
								<h3 > Entender</h3>
								<p>Al iniciar un proyecto nos proponemos saber que problema aborda el producto, conocemos la logística y con ellos pensamos como se solucionará. </p>
								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-image">
								<div class="image-inner">
									<img class="img-responsive img-circle" width="382" height="381" src="<%= asset_path 'entender.png' %>" alt="Image">
								</div>
								
							</div>
						</div>
					</div>
					<div class="row top-services-space-2">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-image-2">
								<div class="image-inner-2">
									<img class="img-responsive img-circle" width="382" height="381" src="<%= asset_path 'Planear.png' %>" alt="Image">
								</div>
								</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-inner">
								
								<h3>Planear</h3>
								<p>El alcance del proyecto se define gracias a la creación de un plan, el cual nos ayudará a cumplir de manera rápida con el tiempo y presupuesto asignado. </p>
								
							</div>
						</div>
					</div>
					<div class="row top-services-space-3">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-inner">
								
								<h3>Diseñar</h3>
								<p>La etapa donde se crean los prototipos a partir del plan y alcance del proyecto, con ellos validamos de manera rápida e intuitiva que se este cumpliendo con las necesidades del usuario.</p>
								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-image">
								<div class="image-inner">
									<img class="img-responsive img-circle" width="382" height="381" src="<%= asset_path 'Diseñar.png' %>"alt="Image">
								</div>
								
							</div>
						</div>
					</div>

					<div class="row top-services-space-2">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-image-2">
								<div class="image-inner-2">
									<img class="img-responsive img-circle" width="382" height="381" src="<%= asset_path 'Construir.png' %>" alt="Image">
								</div>
								</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-inner">
								
								<h3>Construir</h3>
								<p>Validado el diseño se empieza a codificar la solución, y el proyecto cobrara vida gracias a los incrementos semanales que se realizan.</p>
								
							</div>
						</div>
					</div>

						<div class="row top-services-space-3">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-inner">
								
								<h3>Lanzar</h3>
								<p>
								¡Producto listo! Pude ser lanzado al mercado o utilizado en su empresa. Podemos seguir brindandole soporte y mejoras. </p>
								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="services-content-image">
								<div class="image-inner">
									<img class="img-responsive img-circle" width="382" height="381" src="<%= asset_path 'Lanzar.png' %>" alt="Image">
								</div>
								
							</div>
						</div>
					</div>

					
					
				</div>
			</div>
		</section>
		
	
		<section id="works" class="works">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="section-title"><span class="color-black">Startups</span></h1>
						<p class="section-text">
						<h3> ¡De la idea al trabajo más rápido!</h3>

						<span class="color-gray"> 
						Permitenos ayudarte a codificar tu idea, tenemos la experiencia necesaria para cada etapa de tu empresa en el desarrollo tecnológico.
						</span></p>
					</div>
				</div>
				<div class="row " >
					<div class="col-md-12 ">
						<div class="facts-info">
							<ul>
								<li>
									<div class="facts-box-inner facts-bg-cyan">
										<p class="facts-box-inner-title"><span class="counter">1</span></p>
										<p class="facts-box-inner-text">Define tu idea y valida la solución tecnológica.</p>
										
									</div>
								</li>
								<li>
									<div class="facts-box-inner facts-bg-blue-2">
										<p class="facts-box-inner-title"><span class="counter">2</span></p>
										<p class="facts-box-inner-text">Construye a la medida que aprendes y mejora el producto.</p>
										
									</div>
								</li>
								<li>
									<div class="facts-box-inner facts-bg-yellow">
										<p class="facts-box-inner-title"><span class="counter">3</span></p>
										<p class="facts-box-inner-text">Centrate en tu producto apto para el mercado.</p>
										
									</div>
								</li>
								<li>
									<div class="facts-box-inner facts-bg-green">
										<p class="facts-box-inner-title"><span class="counter">4</span></p>
										<p class="facts-box-inner-text">Construye una solución de alto rendimiento.</p>
										
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section class="work-portfolio" id="empresas">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="section-title"><span class="color-white">DESARROLLO A LA MEDIDA PARA  </span><span class="color-red">EMPRESAS</span></h1>
						<p class="section-text"><span class="color-black">Cambia los procesos ordinarios de tu empresa digitalmente. </br>
						Innova, ejecuta y convierte la tecnología en una forma sostenible para el futuro que te ayude a crecer en el mercado.

						</span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="filters" class="button-group">
							
							<button class="button-bg-purple" type="button" data-filter=".uno">Etapa 1</button>
							<button class="button-bg-purple" type="button" data-filter=".dos">Etapa 2</button>
							<button class="button-bg-purple" type="button" data-filter=".tres">Etapa 3</button>
							<button class="button-bg-purple" type="button" data-filter=".cuatro">Etapa 4</button>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="isotope-container">
							
							<div class="item item-width uno ">
							<div class=" col-md-3">
							<div class="team-box" >
									
									<div class="team-content">
										<h4 class="name">Preparate para el éxito</h4>
										
										<p class="short-desc">
											Adopta la tecnología.
											</br>
											Informate que soluciones se adaptan a ti.
											</br>
											Opta por agilidad.
										</p>
										
									</div>
									<div class="clearfix"></div>
								</div>
							</div>

							</div>
							
							<div class="item item-width dos ">
								<div class=" col-md-3">
							<div class="team-box" style="background-color: #F1C258;">
									
									<div class="team-content">
										<h4 class="name">Mentente conectado con tus clientes</h4>
										
										<p class="short-desc"> 
											
											Mejora la experiencia de atención.
											</br>
											Lleva el control de cuentas.
											</br>
											Posicionate mejor en la web.
											</p>
										
									</div>
									<div class="clearfix"></div>
								</div>
								
							</div>
							</div>

							<div class="item item-width tres ">
								<div class=" col-md-3">
							<div class="team-box" style="background-color: #00B5DB;" >
									
									<div class="team-content">
										<h4 class="name">Mejora tus operaciones</h4>
										
										<p class="short-desc">
											Automatiza los procesos.
											</br>
											Manten la información ordenada y a tu alcance.
											</br>
											Mejora la seguridad tecnológica. 

											</p>
										
									</div>
									<div class="clearfix"></div>
								</div>
								
							</div>
							</div>
							<div class="item item-width cuatro ">
								<div class=" col-md-3">
							<div class="team-box " style="background-color: #F34452">
									
									<div class="team-content">
										<h4 class="name">Capacita a tu personal</h4>
										
										<p class="short-desc">
											Enseñales a utilizar una de nuestras soluciones tecnológicas.
											</br>
											Manten actualizadas tu herramientas tecnológicas.
											

										 </p>
										
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							</div>


						</div>
						
					</div>
				</div>
			</div>
		</section>
		
		
		<section id="laboratorio" class="facts">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="section-title"><span class="color-black">ÁREA DE INVESTIGACIÓN Y DESARROLLO </span></h1>
						<p class="section-text"><span class="color-gray">Cada día investigamos y tratamos la manera de innovar o desarrollar elementos tecnológicos que otras personas puedan utilizar. 

						 </span></p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						
						<div class="blog-post-box blog-open">
							<div class="blog-post-image post-bg-light-oliva">
								<a><img class="img-responsive" src="<%= asset_path 'LabKayi.png' %>" alt="image"></a>
							</div>
							<div class="blog-post-content post-bg-light-oliva">
								
								<a ><h3 class="post-title">Kayi Labs </h3></a>
								<p class="post-text text-justify">
									El área de investigación se creo apartir del deseo de poder ayudar a la comunidad, con el propósito de poder crear nuevas herramientas que ayuden a desarrollar soluciones tecnológicas vanguardistas.  
								</p>
								</br>

								<p class="post-text text-justify">
									Participamos en la creación y desarrollo de plataformas tecnológicas que ayudan a facilitar el crecimiento personal, economico y social de los usuarios. 
									En un futuro nos vemos publicando y liberando herramientas que faciliten el trabajo de las personas involucradas en el mundo de la tecnología y que con ellas puedan ayudar a muchas más personas.  
								</p>
								</br>
								<p class="post-text text-justify">
								Si eres una persona creativa, innovadora y tienes la pasión por investigar y crear nuevas tecnologías, 
								estas cordialmente invitado a ser parte del área de investigación de Kayi Labs. ¡Contactanos!
								</p>
								
							</div>
							<div class="clearfix"></div>
						</div>
						</div></div>
				
			</div>
		</section>
		
		
		
		
		
		
		
		
		
		
		<section id="contact" class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="section-title"><span class="color-white">
						Contáctanos
						 </span></h1>
						<p class="section-text"><span class="color-black">
							Si deseas que te desarrollemos una solución tecnológica  para tu empresa, emprendimiento o startup no dudes en enviarnos un mensaje o visita nuestras redes sociales. 
						</span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div id="message"></div>
						<div class="row">
							<form method="post" name="contactform" id="contactform">
								<fieldset>
									<div class="form-group">
										<div class="col-md-6 row-gap">
											<input type="text" id="name" class="form-control inputfield" placeholder="Nombre">
										</div>
										<div class="col-md-6 row-gap">
											<input type="text" id="email" class="form-control inputfield" placeholder="Email">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-6 row-gap">
											<input type="text" id="website" class="form-control inputfield" placeholder="Teléfono">
										</div>
										<div class="col-md-6 row-gap">
											<input type="text" id="capcha" class="form-control inputfield" placeholder="Asunto">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 row-gap">
											<textarea id="comments" class="form-control inputfield" rows="12"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<input type="submit" id="submit" class="submit-button submit-bg-blue" value="ENVIAR">
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="contact-info">
							<ul>
								<li>

										
									<div class="info-panel col-md-3">
										<img src="<%= asset_path 'message.png' %>" alt="image">
										<p>Email</p>
										<a  c>info@kayilabs.com</a>
									</div>
								</li>
								
								<li>
									<div class="info-panel middle-info col-md-3">
										<img src="<%= asset_path 'location.png' %>" alt="image">
										<p>Dirección</p>
										<a href="#">Quetzaltenango,Guatemala</a>
										
									</div>
								</li>
								<li>
									<div class="info-panel col-md-3">
										<img src="<%= asset_path 'mobile.png' %>" alt="image">
										<p>Teléfono</p>
										<a href="#">+502 30809258</a>
									</div>
								</li>
								<li>
									<div class="info-panel col-md-3">
										<img src="<%= asset_path 'website.png' %>" alt="image">
										<p>Sitio web</p>
										<a href="#">www.kayilabs.com</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		


